:root {
  --main-bg-color: rgb(39, 43, 51);
  --color-white: rgb(245, 245, 245);
  --color-gray: rgb(60, 62, 68);
  --color-caption: rgb(158, 158, 158);
  --color-orange: rgb(255, 152, 0);
  --color-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

::selection {
  color: var(--color-orange);
  background-color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

main {
  padding-bottom: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  padding: 0 1rem;
  max-width: 120rem;
  margin: 0 auto;
}

.error {
  color: var(--color-white);
}

@media (max-width: 1440px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 1rem;
  }
}